<!--   Header for all parts of the website as a constistent partial-->

<header class="header-container">

    <div class="logo">
        <h1 id="site-title">TINYAPP</h1>
        <% if (user) { %>
            <p id="site-title"><a href="/urls">URLs</a> | <a href="/urls/new">New URL</a></p>
        <% }else { %>
            <p id="site-title"><a href="/">Login</a> | <a href="/registration">Register</a></p>
        <% } %>
    </div>

    <div class="header-middle">
        <% if(user) { %>
            <h3>Welcome <%= user.email %></h3>
            
        <% } %>
    </div>

    <div class="log-status">
            <% if(!user) { %>
                <form action="/" method="GET" >
                    <br><br>
                    <input type="submit" value="Login">
                </form> 
            <% } else { %>
                <form method="POST" action="/logout" id="logout">
                    <button form="logout" type="submit">Logout</button>
                </form>
            <% } %>
    </div>

</header>


