<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
  <link rel ="stylesheet" type = "text/css" href="myStyle.css">
  <title>TinyApp: Registration</title>
</head>
<body style="font-size:20px; padding:50px;">
    <% include partials/_header %>
<div>
    <h2>Sign Up</h2>

    <form action="/registration" method="POST">
        Email:<br>
        <input type="text" name="email" value="light@lighthouse.com" placeholder="email@domain.com">
        <br>
        Password:<br>
        <input type="password" name="password" placeholder="password">
        <br><br>
        <input type="submit" value="Register">
        <p></p>
    </form> 
</div>


</body>
</html>
