<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
  <title>TinyApp</title>
</head>
<body style="font-size:20px; padding:50px;">

    <% include partials/_header %>

    <h2 style="padding:5px">My URLs</h2>

    <table>
        <!-- looping through the urls and putting them in a table-->
        <% for(var url in urls) { %>
        <tr >
            <th style="padding:10px"><%= url %></th>
            <th style="padding:10px" >
                <a href='#'> <%= urls[url]%></a>
            </th>
            <th style="padding:10px">
                    <form method="POST" action="/urls/<%= url %>/delete"></form>
                    <button type="submit"> DELETE</button>
            </th>
        </tr>
        <% }; %>
    </table>
</body>
</html>

